* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}