* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: normal;
  transition: all 0.2s ease-out;
  color: #ffffff;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #070707;
}

body {
  margin: 0 auto;
  padding: 24px 0;
  max-width: 500px;
}

.form {
  width: 100%;
  height: fit-content;
  background: #2d2d2d;
  border-radius: 12px;
  padding: 20px 25px;
  margin-top: 16px;
  &__group {
    position: relative;
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: 18px;
    }
    label {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 8px;
    }
    input {
      height: 30px;
      padding: 0 10px;
      border: none;
      border-radius: 0.25rem;
      outline: none;
      margin-bottom: 4px;
    }
  }
}

@media (max-width: 768px) {
  body {
    width: 90%;
    max-width: 90%;
  }
  .form {
    padding: 15px;
  }
}
