* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
}
.wrapper {
  width: 100%;
  position: relative;
}
.suggestions {
  position: absolute;
  top: 45px;
  left: 0;
  background: #3b3b3b;
}
.suggestion-item {
  border-radius: 8px;
  background: #3b3b3b;
}
input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: 2px solid #2d2d2d;
  border-radius: 8px;
  font-size: 16px;
  padding: 5px 10px;
  outline: none;
}
